@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

.hero-section {
    height: 110vh; /* almost full screen height */
    background-image: url("../assets/cat_img2.jpg"); /* replace with your image name */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    /*padding-top: 80px;*/
  }
  
  /* Optional overlay to darken image slightly */
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(0, 0, 0, 0.4);*/
  }
  
  .hero-section .container {
    position: relative;
    z-index: 1;
  }
  .custom-btn 
  {
        background: linear-gradient(135deg, #a17fd8, #dd7fbd);
        border: none;
        color: #fff;
        font-weight: 600;
        border-radius: 50px;
        padding: 12px 32px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 10px rgba(123, 47, 247, 0.4);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
      
    .custom-btn:hover
    {
        transform: translateY(-3px);
        box-shadow: 0 6px 14px rgba(123, 47, 247, 0.6);
        background: linear-gradient(135deg, #d4a1c3, #ae9acf);
    }
    .custom_tag1
    {
        color: rgb(118, 87, 47);
        font-family: "Passions Conflict", cursive;
        font-size: 35px;
    }