@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@400;600&display=swap');


.rescue-section {
    position: relative;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    min-height: 500px;
  }
  
  .rescue-title {
    font-family: "Caveat Brush", cursive;
    font-size: 2.5rem;
    color: rgb(255, 215, 140);
  }
  
  .rescue-text {
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 500px;
  }
  
  .rescue-caption {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  }
  
